.project {
  margin-top: 20vh;
}

:root {
  --slide-width: min(80vh, 80vw);
}

.project-images {
  grid-column: 1/-1;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.project-images-carousel {
  display: flex;
  gap: var(--gutter);
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  align-items: center;
  scrollbar-width: none;
  margin-top: 10vh;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding-inline: calc((100vw - var(--slide-width)) / 2);
}

.project-images-carousel::-webkit-scrollbar {
  display: none;
}

.project-images-carousel::before,
.project-images-carousel::after {
  content: '';
  flex: 0 0 0;
}

.project-images-bleed {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.project-images-bleed .project-images-carousel {
  padding-inline: 0;
}

.project-figure {
  flex: 0 0 auto;
  height: 70vh;
  width: var(--slide-width);
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  flex-direction: column;
  cursor: pointer;
}

.project-image {
  flex: 0 0 auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.image-focus {
  background-color: var(--base-color-light);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
  padding: var(--margin);
  box-sizing: border-box;
}

.image-focus figure {
  position: relative;
}

.image-focus img {
  max-width: 95%;
  max-height: 80%;
  object-fit: contain;
}

.image-focus figcaption {
  justify-self: left;
  align-items: left;
}

.image-focus-btn-exit {
  position: absolute;
  top: calc(var(--margin) * 2);
  right: calc(var(--margin) * 2);
}

.image-focus-btn-prev {
  position: absolute;
  top: 20%;
  right: calc(var(--margin) * 2);
}

.image-focus-btn-next {
  position: absolute;
  top: 25%;
  right: calc(var(--margin) * 2);
}
